.navigation{
    background-color: #240000;
    padding: 10px;
    
}

h1{
    color:black;
}
.inline-block{
    display: inline-block;
    vertical-align: center;
    color:  #240000;
    background-color: #39FFC3;
    font-weight: bolder;

}

h3 { color:white;

}

.logo{
width: 50%;
padding: 1%;
}
#dloadBtn{
    justify-items: center;
    width: 50%;
    background-color: aqua;
    border-radius: 1px;
    color: #454545;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

#dloadBtn:hover {
    background-color: aquamarine;
}

#prjctBtn {

    background-color: white;
    border-radius: 15px;
    color: #454545;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

p {
    width: 100%;
    color: black;
    font-size: larger;
    justify-content: right;

}


.logo{ 
     text-align: center;
}

.heroImg{
    width: 100%;
    height: 600px;
    padding: 25px;
    background-color: #240000;
}

.content{
    width: 500px;
    margin: 100px left;
    padding-bottom: 10px;
}

footer ul{ 
    background-color: #383838;
    padding: 50px 50px;
    vertical-align: baseline;
    color: aliceblue;


}

#prjctBtn {
    background-color: white;
    border-radius: 15px;
    color: #454545;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.flexContainer{
    display: flex;
   
    /*background-color: #383838;
    color: aliceblue;*/
}

.flex-item { 
    width: 33%;
    margin: 10px;
    padding: 50px;
    border-bottom: #383838;
    background-color: aliceblue;

}

.flexChild1{
    min-height: auto;
    
}
.flexChild2{
    min-height: auto;
    
}
.flexChild3{
    min-height: auto;
    
}

.workGrid{
    display: grid;
    margin: auto;
    grid-template-rows: auto;
    
}


@media only screen and (max-width: 600px) {
  
  }



  